/*importing the fonts */
@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
/*Setting my global variables in SCSS */
/* reset it to these properties for all browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 54%, 90%);
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  top: 51.179rem;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2.5rem;
  width: 45.938rem;
  height: 93.75rem;
  border-radius: 0.75rem;
}

img {
  width: 39.625rem;
  overflow: hidden;
  height: 18.938rem;
  border-radius: 0.75rem;
}

h1 {
  padding-top: 1.063rem;
  font-family: "young serif", serif;
  line-height: 1.6;
}

h2 {
  color: hsl(14, 45%, 36%);
  line-height: 1.6;
  font-family: "young-serif", serif;
  font-weight: 700;
  margin-left: 0;
  align-content: left;
}

h3 {
  color: hsl(332, 51%, 32%);
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  line-height: 1.6;
}

p {
  font-size: 1em;
  font-family: "Outfit", sans-serif;
  line-height: 1.6;
  color: hsl(30, 10%, 34%);
  margin: 0.625rem 0;
}

.main {
  margin-top: 1.125rem;
}

.bg-preparation {
  background-color: hsl(330, 100%, 98%);
  height: 11rem;
  width: 40.938rem;
  padding-left: 1.813rem;
  padding-top: 1.875rem;
  margin: 2.313rem 0;
  position: relative;
  border-radius: 0.75rem;
}

.preparation {
  margin-left: 2.438rem;
  line-height: 1.6;
  color: hsl(30, 10%, 34%);
}

.ingredients {
  margin-top: -1.25rem;
}

ul {
  padding-left: 1.188rem;
  line-height: 1.6;
  margin-left: 1rem;
}

li::marker {
  color: hsl(332, 51%, 32%);
}

ol {
  margin-left: 1rem;
  line-height: 1.6;
}

hr {
  margin: 1rem 0;
  border: 0.031rem solid;
  color: hsl(30, 18%, 87%);
}

table {
  line-height: 1.6;
  padding-left: 2.063rem;
  border-collapse: collapse;
  width: 100%;
}

tr:not(:last-of-type) {
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

th {
  text-align: left;
  padding: 0.75rem;
  padding-left: 2.063rem;
  font-weight: 400;
  color: hsl(30, 10%, 34%);
}

.amount {
  color: hsl(332, 51%, 32%);
  font-weight: 700;
  padding-left: 15.25rem;
}

.no-border {
  border-top: 1px solid hsl(30, 18%, 87%);
}

.attribution {
  font-size: 0.688rem;
  position: absolute;
  margin-top: 1em;
  top: 101rem;
  padding-bottom: 1.063rem;
  transform: translate(-50%, -50%);
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media queries */
@media screen and (max-width: 375px) {
  body {
    padding: 1rem;
  }
  .container {
    width: 100%;
    height: auto;
    border-radius: 0;
    padding-top: 4.06rem;
  }
  img {
    width: 23.438rem;
    height: 10.75rem;
    position: absolute;
    top: -6.81rem;
    border-radius: 0;
  }
  h1,
  h2,
  h3 {
    font-size: 1.25rem;
  }
  p,
  .preparation,
  .ingredients,
  ul,
  ol,
  table {
    font-size: 0.875rem;
    line-height: 1.5;
  }
  .bg-preparation {
    width: 19.375rem;
    height: 9.75rem;
    padding: 1rem;
    line-height: 1em;
  }
  .amount {
    padding-left: 0;
    text-align: right;
  }
  .attribution {
    transform: translate(-50%, -50%);
    padding-top: 1rem;
    top: 97.25rem;
  }
}/*# sourceMappingURL=style.css.map */